{% extends 'base.html' %} {% block content %}
<style>
    .star-rating {
        direction: rtl;
        display: inline-block;
        padding: 20px;
        cursor: default;
    }
    
    .star-rating input[type=radio] {
        display: none;
    }
    
    .star-rating label {
        color: #bbb;
        font-size: 18px;
        padding: 0;
        cursor: pointer;
        transition: all 0.3s ease-in-out;
    }
    
    .star-rating label:hover,
    .star-rating label:hover~label,
    .star-rating input[type=radio]:checked~label {
        color: #f2b600;
    }
</style>

<div id="warbler-hero" class="full-width" style="background-image: url('{{ user.header_image_url }}');"></div>
<img src="{{ user.image_url }}" alt="Image for {{ user.username }}" id="profile-avatar">
<div class="row full-width">
    <div class="container">
        <div class="row justify-content-end">
            <div class="col-9">
                <ul class="user-stats nav nav-pills">
                    <li class="stat">
                        <p class="small">Messages</p>
                        <h4>
                            <a href="/users/{{ user.id }}">{{ user.messages | length }}</a>
                        </h4>
                    </li>
                    <li class="stat">
                        <p class="small">Following</p>
                        <h4>
                            <a href="/users/{{ user.id }}/following">{{ user.following | length }}</a>
                        </h4>
                    </li>
                    <li class="stat">
                        <p class="small">Followers</p>
                        <h4>
                            <a href="/users/{{ user.id }}/followers">{{ user.followers | length }}</a>
                        </h4>
                    </li>
                    <li class="stat">
                        <p class="small">Likes</p>
                        <h4>
                            <a href="/users/{{user.id}}/likes">{{ user.likes|length }}</a>
                        </h4>
                    </li>
                    <div class="ml-auto">
                        {% if g.user.id == user.id %}
                        <a href="/users/profile" class="btn btn-outline-secondary">Edit Profile</a>
                        <form method="POST" action="/users/delete" class="form-inline">
                            <button class="btn btn-outline-danger ml-2">Delete Profile</button>
                        </form>
                        <!-- Button trigger modal -->
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                Add Subject
                        </button>

                        <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#diploma">
                                Submit Diploma
                        </button>
                        <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#school">
 Add School
                        </button>
                        <!-- Modal -->
                        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <form action="/save-subject/{{g.user.id}}" method="post">
                                            <select name='subject' class="form-select" aria-label="Default select example">
          <option selected>Open this select menu</option>
          <option value="Anthroplogy">Anthroplogy</option>
          <option value="Biology">Biology</option>
          <option value="Chemistry">Chemistry</option>
          <option value="English">English</option>
          <option value="History">History</option>
          <option value="Logic">Logic</option>
          <option value="Mathematics">Mathematics</option>
          <option value="Zoology">Zoology</option>
        </select>
                                            <button class="btn btn-primary">Submit</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="modal fade" id="diploma" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <form method="post" action="/submit-diploma">
                                            <input name="certificate-link" type="text" class="form-control" placeholder="Submit your link here">
                                            <input name="certificate-name" type="text" class="form-control" placeholder="certificate name">
                                            <button class="btn btn-primary">Submit</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal fade" id="school" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Add Your School From Here</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <form method="post" action="/submit-school">
                                            <select name="school_name" id="university_list" class="form-select" aria-label="Default select example">
                                                  <option selected>Open this select menu</option>
                                                  <option value="1">One</option>
                                                  <option value="2">Two</option>
                                                  <option value="3">Three</option>
                                              </select>
                                            <button class="btn btn-primary mt-3">Submit</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% elif g.user %} {% if g.user.is_following(user) %}
                        <form method="POST" action="/users/stop-following/{{ user.id }}">
                            <button class="btn btn-primary">Unfollow</button>
                        </form>
                        {% else %}
                        <form method="POST" action="/users/follow/{{ user.id }}">
                            <button class="btn btn-outline-primary">Follow</button>
                        </form>
                        {% endif %} {% endif %}
                    </div>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-3">
        <h4 id="sidebar-username">@{{ user.username }}</h4>
        <!-- Button trigger modal -->
        <!-- <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal22">
Give Rating
  </button> -->

        <!-- Modal -->
        <div class="modal fade" id="exampleModal22" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Rate this teacher</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="star-rating">
                            <form action="/give-star-rating/{{user.id}}/" method='POST'>
                                <input required id="star-5" type="radio" name="rating" value="5" />
                                <label for="star-5" title="5 stars">
                                    <i class="active fa fa-star" aria-hidden="true"></i>
                                </label>

                                <input required id="star-4" type="radio" name="rating" value="4" />
                                <label for="star-4" title="4 stars">
                                        <i class="active fa fa-star" aria-hidden="true"></i>
                                    </label>

                                <input required id="star-3" type="radio" name="rating" value="3" />
                                <label for="star-3" title="3 stars">
                                        <i class="active fa fa-star" aria-hidden="true"></i>
                                    </label>

                                <input required id="star-2" type="radio" name="rating" value="2" />
                                <label for="star-2" title="2 stars">
                                        <i class="active fa fa-star" aria-hidden="true"></i>
                                    </label>

                                <input required id="star-1" type="radio" name="rating" value="1" />
                                <label for="star-1" title="1 star">
                                        <i class="active fa fa-star" aria-hidden="true"></i>
                                    </label>
                                <br>
                                <button class="btn btn-primary">submit</button>
                            </form>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <h2>Subjects Taught</h2>
        {% for subject in user_subject %} <span>{{subject.subject_name}}, </span>{% endfor %}


        <h2>Diplomas</h2>
        {% for diploma in certificates %} <a href="{{diploma.certificate_link}}">{{diploma.certificate_name}}, </a>{% endfor %}

        <h2>University</h2>
        {% for school in school_name %}
        <p>{{school.school_name}}</p>{% endfor %}
    </div>

    {% block user_details %} {% endblock %}

</div>
<script type="text/javascript">
    let url = 'http://universities.hipolabs.com/search?country=Armenia'
    let universityList = document.getElementById('university_list')
    let options = {
        method: 'get'
    }
    fetch(url, options).then(res => res.json()).then(data => {
        console.log(data)
        let html = ''
        data.forEach(element => {
            let uni_name = element.name
            html += `<option value="${uni_name}">${uni_name}</option>`

        });
        universityList.innerHTML = html

    })
</script>
{% endblock %}